
.Input__container{
    padding: 5% 20%;
    display: flex;
    gap: 10px;
}
.InputItem{
    flex: 90%;
    *{font-size: 1em;}
    display: flex;
    border-radius: 10px;
    padding:10px ;
    font-size: 16px;
    background-color: #fff;
    justify-content: space-between;
}
.TodoInput{
    width: 65%;
}
.select{
    border-left: 1px solid #00000067;
    padding-left: 5px;
    padding-top: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.select__item{
    cursor: pointer;
}
.select__body{
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 35px;
    top: 55px;left: -70px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 0 5px 1px  #000;
    gap: 10px;

    .labelUI{
        position: absolute;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 5px 1px #f43a3a89;
        background-color: rgb(225, 54, 54);
        border-radius: 50%;
        left: 15px;
        top: 40px;
    }
    .labelUNI{
        position: absolute;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 5px 1px #eaea1480;
        background-color: rgb(226, 226, 63);
        border-radius: 50%;
        top:60px;
        left: 15px;
        top: 72px;
    }
    .labelNUI{
        position: absolute;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 5px 1px #23f3466b;
        background-color: rgb(64, 194, 64);
        border-radius: 50%;
        left: 15px;
        top: 102px
    }
    .labelNUNI{
        position: absolute;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 5px 1px #8282827f;
        background-color: rgb(131, 121, 121);
        border-radius: 50%;
        left: 15px;
        top: 132px;
    }
    &[data-selector = false]{
        display: none;
    }
}
button{
    border-radius: 10px; 
    background: #2c50efa8;
    border: none;
    font-size: 1vw;
    font-weight: 700;
    color: #fff;
}